<!--The content below is only a placeholder and can be replaced.-->
<!-- <calendar-day-report [config]="calendarConfig" [model]="calendarModel" (onChangeMonth)="monthChangeHandler($event)" (onSelectDays)="daysSelectHandler($event)" (onSelectDay)="daySelectHandler($event)"></calendar-day-report> -->

<nav>
    <a routerLink="/login">Login</a>
</nav>

<router-outlet></router-outlet>
<calendar [model]="calendarModel" (onChangeCalendar)="monthChangeHandler($event)" (onSelectDays)="daysSelectHandler($event)" (onSelectDay)="daySelectHandler($event)">

</calendar>

<button (click)="test(_calendarTypes.Week)">Week</button>
<button (click)="test(_calendarTypes.Month)">Month</button>
<button (click)="test(_calendarTypes.Year)">Year</button>